In [1]:
import pandas as pd

In [2]:
lowa_file_path = '/Users/amishra/Documents/Machine Learning, AI/Courses/Kaggle-Machine-Learning-Courses/Intro_to_MachineLearning/Data/home-data-for-ml-course/train.csv'
home_data = pd.read_csv(lowa_file_path)
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [3]:
home_data.columns

Index([u'Id', u'MSSubClass', u'MSZoning', u'LotFrontage', u'LotArea',
       u'Street', u'Alley', u'LotShape', u'LandContour', u'Utilities',
       u'LotConfig', u'LandSlope', u'Neighborhood', u'Condition1',
       u'Condition2', u'BldgType', u'HouseStyle', u'OverallQual',
       u'OverallCond', u'YearBuilt', u'YearRemodAdd', u'RoofStyle',
       u'RoofMatl', u'Exterior1st', u'Exterior2nd', u'MasVnrType',
       u'MasVnrArea', u'ExterQual', u'ExterCond', u'Foundation', u'BsmtQual',
       u'BsmtCond', u'BsmtExposure', u'BsmtFinType1', u'BsmtFinSF1',
       u'BsmtFinType2', u'BsmtFinSF2', u'BsmtUnfSF', u'TotalBsmtSF',
       u'Heating', u'HeatingQC', u'CentralAir', u'Electrical', u'1stFlrSF',
       u'2ndFlrSF', u'LowQualFinSF', u'GrLivArea', u'BsmtFullBath',
       u'BsmtHalfBath', u'FullBath', u'HalfBath', u'BedroomAbvGr',
       u'KitchenAbvGr', u'KitchenQual', u'TotRmsAbvGrd', u'Functional',
       u'Fireplaces', u'FireplaceQu', u'GarageType', u'GarageYrBlt',
       u'GarageFinish', u'GarageCars', u'GarageArea', u'GarageQual',
       u'GarageCond', u'PavedDrive', u'WoodDeckSF', u'OpenPorchSF',
       u'EnclosedPorch', u'3SsnPorch', u'ScreenPorch', u'PoolArea', u'PoolQC',
       u'Fence', u'MiscFeature', u'MiscVal', u'MoSold', u'YrSold', u'SaleType',
       u'SaleCondition', u'SalePrice'],
      dtype='object')

In [4]:
#Preidction target . In this case it is sale price
y = home_data.SalePrice

In [5]:
home_data_features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath','BedroomAbvGr', 'TotRmsAbvGrd']
X = home_data[home_data_features]

In [6]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [8]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [9]:
from sklearn.tree import DecisionTreeRegressor

iowa_model = DecisionTreeRegressor(random_state = 1)

iowa_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [11]:
predictions = iowa_model.predict(X)
print(predictions)

[ 208500.  181500.  223500. ...,  266500.  142125.  147500.]

In [12]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, predictions)

62.354337899543388

In [7]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [13]:
iowa_model = DecisionTreeRegressor()

iowa_model.fit(train_X, train_y)

predictions = iowa_model.predict(val_X)

mean_absolute_error(val_y, predictions)

32977.956164383562

In [14]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state = 0)
    model.fit(train_X, train_y)
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_val)
    return(mae)

In [34]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

scores = {leaf_size : get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key = scores.get)
best_tree_size

50

In [33]:
scores

{5: 35190.33670788684,
 25: 28501.887126575195,
 50: 27825.888386265695,
 100: 28653.109928202761,
 250: 31738.366204184345,
 500: 32662.004074798871}

In [18]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
mae_dict={}
for max_leaf_nodes in candidate_max_leaf_nodes:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    mae_dict[max_leaf_nodes] = my_mae

In [19]:
mae_dict

{5: 35190.33670788684,
 25: 28501.887126575195,
 50: 27825.888386265695,
 100: 28653.109928202761,
 250: 31738.366204184345,
 500: 32662.004074798871}

In [52]:
# Fill in argument to make optimal size and uncomment
final_model = DecisionTreeRegressor(max_leaf_nodes = best_tree_size)

# fit the final model and uncomment the next two lines
final_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=50, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

### Random Forest Model

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state = 1)
forest_model.fit(train_X, train_y)
price_pred = forest_model.predict(val_X)
print(mean_absolute_error(val_y, price_pred))

24346.6200652

In [9]:
#Random Forest Model using all of training data
rf_model = RandomForestRegressor()
rf_model.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [10]:
lowa_test_file_path = '/Users/amishra/Documents/Machine Learning, AI/Courses/Kaggle-Machine-Learning-Courses/Intro_to_MachineLearning/Data/home-data-for-ml-course/train.csv'
test_data = pd.read_csv(lowa_test_file_path)

In [11]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [12]:
test_X = test_data[home_data_features]
test_X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [13]:
test_preds = rf_model.predict(test_X)

In [22]:
output = pd.DataFrame({'Id' : test_data.Id,
                      'SalePrice': test_preds})
output.to_csv('submission.csv', index = False)

In [25]:
reddfg = pd.read_csv('submission.csv')
reddfg

        Id      SalePrice
0        1  203595.000000
1        2  174250.000000
2        3  216490.000000
3        4  136700.000000
4        5  255100.000000
5        6  144600.000000
6        7  295690.000000
7        8  191040.000000
8        9  145840.000000
9       10  118500.000000
10      11  133325.000000
11      12  341960.000000
12      13  132475.000000
13      14  252767.000000
14      15  143395.000000
15      16  121325.000000
16      17  143050.000000
17      18  101360.900000
18      19  158600.000000
19      20  141945.000000
20      21  323670.000000
21      22  138980.000000
22      23  238313.700000
23      24  134430.000000
24      25  151600.000000
25      26  272604.800000
26      27  128250.800000
27      28  297582.800000
28      29  192100.000000
29      30   67331.100000
...    ...            ...
1430  1431  194998.000000
1431  1432  130745.833333
1432  1433   78050.000000
1433  1434  192900.000000
1434  1435  163230.000000
1435  1436  165800.000000
1436  1437  119610.000000
1437  1438  368970.000000
1438  1439  131375.000000
1439  1440  182100.000000
1440  1441  205500.000000
1441  1442  146695.833333
1442  1443  292955.000000
1443  1444  111400.000000
1444  1445  224450.000000
1445  1446  128000.000000
1446  1447  159330.000000
1447  1448  239650.000000
1448  1449  114150.000000
1449  1450   87950.000000
1450  1451  143100.000000
1451  1452  279239.000000
1452  1453  148400.000000
1453  1454  129200.000000
1454  1455  186850.000000
1455  1456  176640.000000
1456  1457  217200.000000
1457  1458  230210.000000
1458  1459  137400.000000
1459  1460  144195.000000

[1460 rows x 2 columns]

In [21]:
output

        Id      SalePrice
0        1  203595.000000
1        2  174250.000000
2        3  216490.000000
3        4  136700.000000
4        5  255100.000000
5        6  144600.000000
6        7  295690.000000
7        8  191040.000000
8        9  145840.000000
9       10  118500.000000
10      11  133325.000000
11      12  341960.000000
12      13  132475.000000
13      14  252767.000000
14      15  143395.000000
15      16  121325.000000
16      17  143050.000000
17      18  101360.900000
18      19  158600.000000
19      20  141945.000000
20      21  323670.000000
21      22  138980.000000
22      23  238313.700000
23      24  134430.000000
24      25  151600.000000
25      26  272604.800000
26      27  128250.800000
27      28  297582.800000
28      29  192100.000000
29      30   67331.100000
...    ...            ...
1430  1431  194998.000000
1431  1432  130745.833333
1432  1433   78050.000000
1433  1434  192900.000000
1434  1435  163230.000000
1435  1436  165800.000000
1436  1437  119610.000000
1437  1438  368970.000000
1438  1439  131375.000000
1439  1440  182100.000000
1440  1441  205500.000000
1441  1442  146695.833333
1442  1443  292955.000000
1443  1444  111400.000000
1444  1445  224450.000000
1445  1446  128000.000000
1446  1447  159330.000000
1447  1448  239650.000000
1448  1449  114150.000000
1449  1450   87950.000000
1450  1451  143100.000000
1451  1452  279239.000000
1452  1453  148400.000000
1453  1454  129200.000000
1454  1455  186850.000000
1455  1456  176640.000000
1456  1457  217200.000000
1457  1458  230210.000000
1458  1459  137400.000000
1459  1460  144195.000000

[1460 rows x 2 columns]

In [17]:
test_preds

array([ 203595.,  174250.,  216490., ...,  230210.,  137400.,  144195.])

In [19]:
test_data.Id

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
1430    1431
1431    1432
1432    1433
1433    1434
1434    1435
1435    1436
1436    1437
1437    1438
1438    1439
1439    1440
1440    1441
1441    1442
1442    1443
1443    1444
1444    1445
1445    1446
1446    1447
1447    1448
1448    1449
1449    1450
1450    1451
1451    1452
1452    1453
1453    1454
1454    1455
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64